body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(24, 21, 21); */
    background-color: black;
    color: chartreuse;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.outerContainer {
    display: flex; /* Makes child elements align in a row */
    flex-direction: row; /* Ensures children are side by side */
    align-items: center; /* Aligns items to the top */
    justify-content: center; /* Centers the row horizontally */
    /* border: 1px solid rgb(138, 6, 6); */
    padding: 10px;
    gap: 20px; /* Adds space between container and movesBox */
    /* opacity: 0.2; */
    background-color: rgb(0, 0, 0);
    
}

.movesBox{
    /* border: 1px solid orange; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    
    
}
@keyframes a1 {
    0%,100%{
        background-color: rgb(228, 16, 16);
    }
    25%,75%{
        background-color: rgb(245, 74, 74);

    }
    50%{
        background-color: rgba(243, 95, 95, 0.867);
    }
}
.count{
    /* border: 2px solid white; */
    padding: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    /* background-color: rgb(109, 39, 27); */
    font-family: cursive;
    border: 1.5px solid greenyellow;
    border-radius: 50%;
    animation: pulse 2s infinite;
    color: aliceblue;
    text-shadow: 1px 1px 8px rgb(0, 25, 28), 0 0 0.5em rgb(0, 191, 255), 0 0 0.2em rgb(245, 245, 251);
}

.text{
    font-family: cursive;
    border: 1px solid rgb(161, 102, 102);
    background-color:rgb(228, 16, 16);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    animation: a1 2s infinite;  
}
.text:hover  ,.count:hover {
     border:1px solid white;
}
/* @keyframes pulse {
    0%,100%{
        font-size: 20px;
        color: rgb(255, 226, 187);
    }
    50%{
        font-size:30px;
        color: rgb(255, 255, 255);
    }
} */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
    padding: 20px;

}

.heading{
    font-family:cursive;
    font-weight: bold;
    font-size: xxx-large;
    height: 20%;
    /* border: 1px solid yellowgreen; */
    margin-bottom: 30px;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 8px rgb(0, 25, 28), 0 0 0.5em rgb(0, 191, 255), 0 0 0.2em rgb(245, 245, 251);
   
}

.symbolBoxes{
    /* border: 1px solid white; */
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content:center;
    align-items: center;
}


img{
    width:70%;
    height: 70%;
}

/* [src="img3.png"]:hover{
    display:
} */




button{
    width: fit-content;
    height: fit-content;
    width: 90%;
    height: 90%;
    padding: 10px;
    /* border-radius: 5px; */
    gap: 5px;
    background-color:#cde2f8;
    /* border: 4px solid rgb(215, 170, 7); */
    animation: p1 2s infinite;
    box-shadow: 3px 3px rgb(44, 14, 14);
}
/* @keyframes p1 {
    0%,100%{

        background-color: rgb(38, 172, 127);
    }
    20%{
        background-color: rgb(72, 179, 168);
    }
    50%{
        background-color: rgb(179, 206, 228);
    }
} */

/* button:hover{
    background-color: rgb(22, 93, 79);
    transform: scale(1.3);
    transition-duration: 1.1s;
    transform:rotateY(180deg)
} */
 .reBut{
    margin-top: 5px;
    height: 10%;
 }
.Reset{
    /* margin-top: 50px; */
    padding: 20px;
    width: 100px;
    height: 10px;
    justify-items: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    background-color: rgb(241, 60, 60);
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-weight: bold;
    font-size: large;
    border: 1px solid rgb(255, 253, 252);
    /* animation: changecolor 1s infinite; */
}
.Reset:hover{
    background-color: rgb(216, 226, 216);
    color: red;
    
}

@keyframes changecolor {
    0%,100%{
        background-color: rgb(202, 244, 139);
        
    }
    25%{
        background-color: rgb(140, 220, 20);
    }
    50%{
        background-color: greenyellow;
    }
}
.Reset:hover{
    transform: none;
    cursor: pointer;
    transform: scale(1.02);
}

.card{
    position: relative;
    width: 100px;
    height: 140px;
}



.box1{
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 140px;
    position: relative;
    transform-style: preserve-3d;
    transition:transform 0.6s;
    /* perspective: 10000; */
}

#front , #back{
    position: absolute;
    width: 100px;
    height: 140px;
    backface-visibility: hidden;
    padding: 0;
    border-radius: 10px;

}

#front{
    transform: rotateY(0deg);
}
#back{
    transform: rotateY(180deg);
}

/* .card:hover .box1{
    transform: rotateY(180deg);
} */

.forResult{
    border: 1ps solid rgb(0, 98, 255);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    /* display: flex; */
}

.forResult h1{
    align-self: center;
    color: aqua;
    font-family: cursive;

    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 75px;
    animation: incre 5s infinite;
    
}

#win-img{
    width: 200px;
    animation: inc 5s infinite; 
}
@keyframes inc {
    0%, 100%{
        transform: rotate(0.5deg) scale(1.02);
        transition-duration: 8s;
    }
    50%{
        transform: rotate(-0.5deg) scale(1.02);
    }
}
@keyframes incre {
    0%,100%{
        color: rgb(56, 230, 21);
        font-size: 30px
    }
    25%{
        color: aqua;
    }
    50%{
        color: azure;
        font-size: 32px;
    }
}

#play-again{
    margin-top: 90px;
    width: 150px;
    font-family: cursive;
    font-weight: bold;
    font-size: large;
    color: white;
    border: 1px solid greenyellow;
    background-color: blue;
    border-radius: 5px;
    
}
#play-again:hover{
    background-color: rgb(255, 255, 255);
    transition-duration: 0.25s;
    color: blue;
    border: blue;
    cursor: pointer;
}


#front-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}


   
.side{
    margin-top: 95px;
    align-self: baseline;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winBox{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

